<template>
  <div>
    <Header/>
    <b-container fluid>
      <b-row class="first-screen">
        <b-container>
          <b-row>
            <b-col 
              cols="12"
              md="12">
              <h1 class="title">Careers</h1>
              <h2 class="subtitle">We’re strategists, designers, developers.<br> We Believe In Our Talented People.</h2>
            </b-col>
          </b-row>
        </b-container>
      </b-row>
    </b-container>
    <b-container fluid>
      <b-row class="perks-and-benefits">
        <b-container>
          <b-row>
            <b-col
              cols="12"
              md="12">
              <header>
                <h3>Perks and benefits:</h3>
              </header>
              <ul class="list">
                <li class="list-item">We pair you with hand-picked clients who are solving interesting and challenging problems.</li>
                <li class="list-item">We get you the right equipment and the right learning opportunities to level up.</li>
                <li class="list-item">Flexible working hours.</li>
                <li class="list-item">We cover the cost of conferences and courses.</li>
                <li class="list-item">Сompetitive salary for all employees</li>
                <li class="list-item">Be a leader, putting the client and your team before yourself.</li>
                <li class="list-item">Always be disruptive.</li>
                <li class="list-item">Ability to pitch, educate.</li>
              </ul>
            </b-col>
          </b-row>
          <b-row class="img-first-line">
            <b-col
              cols="12"
              md="5">
              <div class="visual">
                <img 
                  src="~assets/img/careers/img1.jpg"
                  srcset="~assets/img/careers/img1@2x.jpg 2x,
                  ~assets/img/careers/img1@3x.jpg 3x"
                  alt="img">
              </div>
            </b-col>
            <b-col
              cols="12"
              md="4"
              offset-md="1">
              <div class="visual visual_pt">
                <img 
                  src="~assets/img/careers/img2.jpg"
                  srcset="~assets/img/careers/img2@2x.jpg 2x,
                  ~assets/img/careers/img2@3x.jpg 3x"
                  alt="img">
              </div>
            </b-col>
          </b-row>
          <b-row>
            <b-col
              cols="12"
              md="3"
              offset-md="1">
              <div class="visual">
                <img 
                  src="~assets/img/careers/img3.jpg"
                  srcset="~assets/img/careers/img3@2x.jpg 2x,
                  ~assets/img/careers/img3@3x.jpg 3x"
                  alt="img">
              </div>
            </b-col>
            <b-col
              col="12"
              md="6"
              offset-md="1">
              <div class="visual">
                <img 
                  src="~assets/img/careers/img4.jpg"
                  srcset="~assets/img/careers/img4@2x.jpg 2x,
                  ~assets/img/careers/img4@3x.jpg 3x"
                  alt="img">
              </div>
            </b-col>
          </b-row>
        </b-container>
      </b-row>
    </b-container>
    <open-positions/>
    <Footer/>
  </div>
</template>

<script>
import Header from '~/components/Header.vue'
import OpenPositions from '~/components/OpenPositions.vue'
import Footer from '~/components/Footer.vue'

export default {
  components: {
    Header,
    OpenPositions,
    Footer
  }
}
</script>

<style lang="scss" scoped>
img {
  width: 100%;
}
.first-screen {
  padding-top: 100px;
  padding-bottom: 100px;
  margin-bottom: 88px;
  background-color: #f7f8fa;
  .title {
    font-family: 'GTAmericaTrial';
    font-size: 43px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.12;
    letter-spacing: normal;
    color: #000;
    margin-bottom: 21px;
  }
  .subtitle {
    font-family: 'GTAmericaTrial';
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.56;
    letter-spacing: 0.2px;
    color: #000;
    margin-bottom: 8px;
  }
}
.perks-and-benefits {
  margin-bottom: 110px;
  header {
    h3 {
      font-family: 'GTAmericaTrial';
      font-size: 22px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.82;
      letter-spacing: normal;
      color: #000;
      margin-bottom: 18px;
    }
  }
  .list {
    margin: 0 0 110px;
    padding: 0 0 0 35px;
  }
  .list-item {
    font-family: 'GTAmericaTrial';
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.19;
    letter-spacing: normal;
    color: #000;
    position: relative;
  }
  .img-first-line {
    margin-bottom: 60px;
  }
  .visual {
    &_pt {
      padding-top: 55px;
    }
  }
}
</style>
