.link_with-arrow {
  position: relative;
  transition: all 0.3s ease-in-out 0s;
  &:after {
    content: '';
    display: inline-block;
    background: url(~assets/img/ui/left-arrow-key.svg) 0 0 no-repeat;
    vertical-align: baseline;

  transition: transform 0.3s ease-in-out 0s;
  }
  &:hover {
    &:after {
      transform: translateX(-25%);
    }
  }
}