<template>
  <b-container fluid>
    <b-container class="cases">
      <b-row>
        <b-col 
          cols="12" 
          class="case">
          <header>
            <div class="top d-flex align-items-start align-items-md-center flex-column flex-md-row">
              <a 
                href="https://www.behance.net/gallery/72953473/VSHKHigh-School-of-Communications"
                target="_blank"
                class="link_with-arrow">VSHK</a>
              <div class="tag">Research, Strategy, UX/UI design</div>
            </div>
            <div class="bottom">
              <p>Online learning platform. Communication and marketing, HR, management and business administration.</p>
            </div>
          </header>
          <a
            href="https://www.behance.net/gallery/72953473/VSHKHigh-School-of-Communications"
            target="_blank"
            class="visual">
            <img 
              src="~assets/img/cases/group-1.jpg"
              srcset="~assets/img/cases/group-1@2x.jpg 2x,
              ~assets/img/cases/group-1@3x.jpg 3x">
          </a>
        </b-col>
        <b-col 
          cols="12" 
          class="case">
          <header>
            <div class="top d-flex align-items-start align-items-md-center flex-column flex-md-row">
              <a 
                href="https://www.behance.net/gallery/72094345/Reipex-platform"
                target="_blank"
                class="link_with-arrow">Reipex</a>
              <div class="tag">Research, Strategy, UX/UI design</div>
            </div>
            <div class="bottom">
              <p>The Reipex platform is the creation of an ecosystem with a full cycle in financial institutions</p>
            </div>
          </header>
          <a
            href="https://www.behance.net/gallery/72094345/Reipex-platform"
            target="_blank"
            class="visual">
            <img 
              src="~assets/img/cases/group-2.jpg"
              srcset="~assets/img/cases/group-2@2x.jpg 2x,
              ~assets/img/cases/group-2@3x.jpg 3x">
          </a>
        </b-col>
        <b-col 
          cols="12" 
          class="case">
          <header>
            <div class="top d-flex align-items-start align-items-md-center flex-column flex-md-row">
              <a 
                href="https://www.behance.net/gallery/71948575/Orthomol-cases"
                target="_blank"
                class="link_with-arrow">Orthomol</a>
              <div class="tag">Research, Strategy, UX/UI design</div>
            </div>
            <div class="bottom">
              <p>More than 20 years - products based on the concept of orthomolecular nutritional medicine.</p>
            </div>
          </header>
          <a
            href="https://www.behance.net/gallery/71948575/Orthomol-cases"
            target="_blank"
            class="visual">
            <img 
              src="~assets/img/cases/group-3.jpg"
              srcset="~assets/img/cases/group-3@2x.jpg 2x,
              ~assets/img/cases/group-3@3x.jpg 3x">
          </a>
        </b-col>
        <b-col 
          cols="12" 
          class="case">
          <header>
            <div class="top d-flex align-items-start align-items-md-center flex-column flex-md-row">
              <a 
                href="https://www.behance.net/gallery/56699487/FRC-Bank-app-redesign"
                target="_blank"
                class="link_with-arrow">FRC app</a>
              <div class="tag">Research, Strategy, UX/UI design</div>
            </div>
            <div class="bottom">
              <p>Major trends in the app development for banks for the next few years.</p>
            </div>
          </header>
          <a
            href="https://www.behance.net/gallery/56699487/FRC-Bank-app-redesign"
            target="_blank"
            class="visual">
            <img 
              src="~assets/img/cases/group-4.jpg"
              srcset="~assets/img/cases/group-4@2x.jpg 2x,
              ~assets/img/cases/group-4@3x.jpg 3x">
          </a>
        </b-col>
        <b-col 
          cols="12" 
          class="case">
          <header>
            <div class="top d-flex align-items-start align-items-md-center flex-column flex-md-row">
              <a 
                href="https://www.behance.net/gallery/57915089/Senpex"
                target="_blank"
                class="link_with-arrow">Senpex</a>
              <div class="tag">Research, Strategy, UX/UI design</div>
            </div>
            <div class="bottom">
              <p>Affordable On-Demand Delivery Service. Send and Order, Anything, Anytime, Anywhere!</p>
            </div>
          </header>
          <a
            href="https://www.behance.net/gallery/57915089/Senpex"
            target="_blank"
            class="visual">
            <img 
              src="~assets/img/cases/group-5.jpg"
              srcset="~assets/img/cases/group-5@2x.jpg 2x,
              ~assets/img/cases/group-5@3x.jpg 3x">
          </a>
        </b-col>
        <b-col 
          cols="12" 
          class="case">
          <header>
            <div class="top d-flex align-items-start align-items-md-center flex-column flex-md-row">
              <a 
                href="https://creativequarter.net/en/"
                target="_blank"
                class="link_with-arrow">Creative Quarter</a>
              <div class="tag">Research, Strategy, UX/UI design</div>
            </div>
            <div class="bottom">
              <p>Warp your business with us. More than 100 creative hassle-free offices at prime locations</p>
            </div>
          </header>
          <a
            href="https://creativequarter.net/en/"
            target="_blank"
            class="visual">
            <img 
              src="~assets/img/cases/group-6.jpg"
              srcset="~assets/img/cases/group-6@2x.jpg 2x,
              ~assets/img/cases/group-6@3x.jpg 3x">
          </a>
        </b-col>
        <b-col 
          cols="12" 
          class="case">
          <header>
            <div class="top d-flex align-items-start align-items-md-center flex-column flex-md-row">
              <a 
                href="#"
                class="link_with-arrow">Revint</a>
              <div class="tag">Research, Strategy, UX/UI design</div>
            </div>
            <div class="bottom">
              <p>Simple way a sharing economy venture should be.</p>
            </div>
          </header>
          <div class="visual">
            <img 
              src="~assets/img/cases/group-7.jpg"
              srcset="~assets/img/cases/group-7@2x.jpg 2x,
              ~assets/img/cases/group-7@3x.jpg 3x">
          </div>
        </b-col>
      </b-row>
    </b-container>
  </b-container>
</template>

<script>
export default {
  name: 'Cases'
}
</script>

<style lang="scss" scoped>
.cases {
  margin-bottom: 50px;
}
.case {
  margin-bottom: 80px;
  .visual {
    overflow: hidden;
    transition: transform 0.3s ease-in-out 0s;
    display: block;
    img {
      transition: transform 0.3s ease-in-out 0s;
    }
  }
  &:hover {
    .visual {
      transform: scale(0.97);
      img {
        transform: scale(1.1);
      }
    }
    header {
      .top {
        a {
          transform: translateX(20px);
        }
      }
      .bottom {
        transform: translateX(20px);
      }
    }
  }
  header {
    .top {
      a {
        font-family: 'GTAmericaTrial';
        font-size: 22px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 2.18;
        letter-spacing: normal;
        color: #000;
        text-decoration: none;
        margin-right: 70px;
        &:after {
          background-size: 27px 18px;
          width: 27px;
          height: 18px;
          margin-left: 20px;
          vertical-align: baseline;
        }
      }
      .tag {
        font-family: 'GTAmericaTrial';
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.14;
        letter-spacing: 0.3px;
        color: #7b7b7b;
      }
    }
    .bottom {
      font-family: 'GTAmericaTrial';
      font-size: 18px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.56;
      letter-spacing: normal;
      color: #000;
      margin-bottom: 30px;
      transition: transform 0.3s ease-in-out 0s;
    }
  }
}
</style>
