<template>
  <b-container>
    <b-row class="clutch">
      <b-container class="clutch-content">
        <b-row>
          <b-col
            cols="12"
            md="8">
            <div class="text">
              <p>Archetype dramatically increased customer satisfaction by streamlining purchasing and by providing the pricing options they were looking for. They demonstrated real care and attention to their work, providing helpful suggestions and acting professionally at all times. </p>
            </div>
            <div class="author">
              Kirill Melnik,<br>
              COO at Essay-bay, Estonia
            </div>
          </b-col>
          <b-col
            cols="12"
            md="3">
            <div 
              class="clutch-widget"
              data-url="https://clutch.co"
              data-widget-type="2"
              data-height="100"
              data-clutchcompany-id="92060"/>
          </b-col>
        </b-row>
      </b-container>
    </b-row>
  </b-container>
</template>

<script>
export default {
  name: 'Clutch'
}
</script>

<style lang="scss" scoped>
.clutch {
  margin-bottom: 105px;
  .clutch-content {
    padding-top: 40px;
    padding-bottom: 40px;
    .text {
      font-family: 'GTAmericaTrial';
      font-size: 18px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.56;
      letter-spacing: normal;
      color: #000;
      margin-bottom: 24px;
      padding-right: 40px;
    }
    .author {
      font-family: 'GTAmericaTrial';
      font-size: 18px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.56;
      letter-spacing: normal;
      color: #000;
    }
  }
}
</style>
