<template>
  <b-container fluid>
    <b-row class="contacts-address">
      <b-container>
        <b-row
          class="items">
          <b-col 
            cols="12"
            md="3"
            class="item item_active"
            @click="goToSF()">
            <header>
              <h4 class="title">San Francisco</h4>
            </header>
            <div class="address">655 Montgomery Street,
            San Francisco CA 94111</div>
          </b-col>
          <b-col
            cols="12"
            md="3"
            class="item"
            @click="goToNY()">
            <header>
              <h4 class="title">New-York</h4>
            </header>
            <div class="address">524 Broadway,
            New York NY 10012</div>
          </b-col>
          <b-col
            cols="12"
            md="3"
            class="item"
            @click="goToVA()">
            <header>
              <h4 class="title">Vienna</h4>
            </header>
            <div class="address">Lindengasse 56,
            Vienna 1070</div>
          </b-col>
          <b-col
            cols="12"
            md="3"
            class="item"
            @click="goToKV()">
            <header>
              <h4 class="title">Kyiv</h4>
            </header>
            <div class="address">1a Sportyvna Street,
            Kyiv 01023</div>
          </b-col>
        </b-row>
        <b-row class="map">
          <GmapMap
            :center="map.center" 
            :zoom="15"
            :options="options"
            map-type-id="terrain"
            style="width: 100%; height: 500px">
            <GmapMarker
              v-for="(m, index) in markers"
              :key="index"
              :position="m.position"
              :clickable="true"
              :draggable="true"
              @click="center=m.position" />
          </GmapMap>
        </b-row>
      </b-container>
    </b-row>
  </b-container>
</template>

<script>
export default {
  name: 'ContactsAddress',
  data() {
    return {
      options: {
        styles: [
          {
            featureType: 'all',
            elementType: 'geometry.fill',
            stylers: [
              {
                weight: '2.00'
              }
            ]
          },
          {
            featureType: 'all',
            elementType: 'geometry.stroke',
            stylers: [
              {
                color: '#9c9c9c'
              }
            ]
          },
          {
            featureType: 'all',
            elementType: 'labels.text',
            stylers: [
              {
                visibility: 'on'
              }
            ]
          },
          {
            featureType: 'landscape',
            elementType: 'all',
            stylers: [
              {
                color: '#f2f2f2'
              }
            ]
          },
          {
            featureType: 'landscape',
            elementType: 'geometry.fill',
            stylers: [
              {
                color: '#ffffff'
              }
            ]
          },
          {
            featureType: 'landscape.man_made',
            elementType: 'geometry.fill',
            stylers: [
              {
                color: '#ffffff'
              }
            ]
          },
          {
            featureType: 'poi',
            elementType: 'all',
            stylers: [
              {
                visibility: 'off'
              }
            ]
          },
          {
            featureType: 'road',
            elementType: 'all',
            stylers: [
              {
                saturation: -100
              },
              {
                lightness: 45
              }
            ]
          },
          {
            featureType: 'road',
            elementType: 'geometry.fill',
            stylers: [
              {
                color: '#eeeeee'
              }
            ]
          },
          {
            featureType: 'road',
            elementType: 'labels.text.fill',
            stylers: [
              {
                color: '#7b7b7b'
              }
            ]
          },
          {
            featureType: 'road',
            elementType: 'labels.text.stroke',
            stylers: [
              {
                color: '#ffffff'
              }
            ]
          },
          {
            featureType: 'road.highway',
            elementType: 'all',
            stylers: [
              {
                visibility: 'simplified'
              }
            ]
          },
          {
            featureType: 'road.arterial',
            elementType: 'labels.icon',
            stylers: [
              {
                visibility: 'off'
              }
            ]
          },
          {
            featureType: 'transit',
            elementType: 'all',
            stylers: [
              {
                visibility: 'off'
              }
            ]
          },
          {
            featureType: 'water',
            elementType: 'all',
            stylers: [
              {
                color: '#46bcec'
              },
              {
                visibility: 'on'
              }
            ]
          },
          {
            featureType: 'water',
            elementType: 'geometry.fill',
            stylers: [
              {
                color: '#c8d7d4'
              }
            ]
          },
          {
            featureType: 'water',
            elementType: 'labels.text.fill',
            stylers: [
              {
                color: '#070707'
              }
            ]
          },
          {
            featureType: 'water',
            elementType: 'labels.text.stroke',
            stylers: [
              {
                color: '#ffffff'
              }
            ]
          }
        ]
      },
      map: {
        center: {
          lat: 37.795378,
          lng: -122.403377
        }
      },
      markers: [
        {
          position: {
            lat: 37.795378,
            lng: -122.403377
          }
        },
        {
          position: {
            lat: 40.716084,
            lng: -73.9984603
          }
        },
        {
          position: {
            lat: 48.204263,
            lng: 16.3423668
          }
        },
        {
          position: {
            lat: 50.437733,
            lng: 30.521585
          }
        }
      ]
    }
  },
  methods: {
    goToSF() {
      this.map.center = {
        lat: 37.795378,
        lng: -122.403377
      }
    },
    goToNY() {
      this.map.center = {
        lat: 40.716084,
        lng: -73.9984603
      }
    },
    goToVA() {
      this.map.center = {
        lat: 48.204263,
        lng: 16.3423668
      }
    },
    goToKV() {
      this.map.center = {
        lat: 50.437733,
        lng: 30.521585
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.contacts-address {
  .items {
    margin-bottom: 75px;
  }

  .item {
    cursor: pointer;

    header {
      .title {
        font-family: 'GTAmericaTrial';
        font-size: 22px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.82;
        letter-spacing: normal;
        color: #b3bbbc;
        margin-bottom: 9px;
        transition: color 0.3s ease-in-out 0s;
      }
    }

    .address {
      font-family: 'GTAmericaTrial';
      font-size: 18px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.56;
      letter-spacing: normal;
      color: #b3bbbc;
      transition: color 0.3s ease-in-out 0s;
    }

    &:hover {
      header {
        .title {
          color: #000;
        }
      }

      .address {
        color: #000;
      }
    }
  }
  .map {
    margin-bottom: 240px;
  }
}
</style>
