<template>
  <b-container fluid>
    <b-row class="mails">
      <b-container>
        <b-row>
          <b-col
            cols="12"
            md="3">
            <div class="item">
              <div class="title">New project:</div>
              <a 
                href="mailto:hello@archetype.agency">hello@archetype.agency</a>
            </div>
          </b-col>
          <b-col
            cols="12"
            md="3">
            <div class="item">
              <div class="title">Media &amp; PR:</div>
              <a 
                href="mailto:pr@archetype.agency">pr@archetype.agency</a>
            </div>
          </b-col>
          <b-col
            cols="12"
            md="3">
            <div class="item">
              <div class="title">Job enquiries:</div>
              <a 
                href="mailto:people@archetype.agency">people@archetype.agency</a>
            </div>
          </b-col>
        </b-row>
      </b-container>
    </b-row>
  </b-container>
</template>

<script>
export default {
  name: 'ContactsMails'
}
</script>

<style lang="scss" scoped>
.mails {
  margin-bottom: 120px;
  .title {
    font-family: 'GTAmericaTrial';
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.56;
    letter-spacing: 0.2px;
    color: #000;
    margin-bottom: 20px;
  }
  .item {
    a {
      font-family: 'GTAmericaTrial';
      font-size: 16px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.75;
      letter-spacing: 0.2px;
      color: #000;
      text-decoration: none;
      transition: color 0.3s ease-in-out 0s;
      &:hover {
        color: #7b7b7b;
      }
    }
  }
}
</style>
