<template>
  <b-container fluid>
    <b-row class="footer">
      <b-container>
        <b-row class="footer-inner">
          <b-col
            cols="12"
            md="3"
            order="12"
            order-md="0"
            class="copyright">© 2018  Archetype agency</b-col>
          <b-col
            cols="6"
            md="2"
            offset-md="1"
            class="footer-nav">
            <ul>
              <li><nuxt-link to="/work">Work</nuxt-link></li>
              <li><nuxt-link to="/services">Services</nuxt-link></li>
              <!-- <li><nuxt-link to="/about">About us</nuxt-link></li> -->
              <li><nuxt-link to="/careers">Careers</nuxt-link></li>
              <li><nuxt-link to="/contacts">Contacts</nuxt-link></li>
              <li><a href="#">Newsletter</a></li>
            </ul>
          </b-col>
          <b-col
            cols="6"
            md="2"
            class="cities">
            <ul>
              <li>San Francisco</li>
              <li>New York</li>
              <li>Vienna</li>
              <li>Kyiv</li>
            </ul>
          </b-col>
          <b-col 
            cols="12"
            md="3"
            offset-md="1"
            class="socials">
            <ul>
              <li><a href="https://dribbble.com/archetypeagency">Dribbble</a></li>
              <li><a href="https://www.instagram.com/archetypeagency/">Instagram</a></li>
              <li><a href="https://medium.com/@archetypeglobal">Medium</a></li>
              <li><a href="https://www.facebook.com/archetypeagency/">Facebook</a></li>
              <li><a href="https://clutch.co/profile/archetype">Clutch</a></li>
            </ul>
          </b-col>
        </b-row>
      </b-container>
    </b-row>
  </b-container>
</template>

<script>
export default {
  name: 'Footer'
}
</script>

<style lang="scss" scoped>
.footer {
  background-color: #f7f7fa;
}
.footer-inner {
  position: relative;
  border-top: solid 2px #e6e6e6;
  padding-top: 35px;
  padding-bottom: 100px;
}
.copyright {
  font-family: 'GTAmericaTrial';
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: 0px;
  color: #131313;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    a {
      text-decoration: none;
    }
  }
}
.footer-nav {
  a {
    font-family: 'GTAmericaTrial';
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.75;
    letter-spacing: normal;
    color: #000;
    transition: color 0.25s ease-in-out 0s;
    &:hover {
      color: #7b7b7b;
    }
  }
}
.cities {
  li {
    font-family: 'GTAmericaTrial';
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: 0.1px;
    color: #000;
  }
}
.socials {
  a {
    font-family: 'GTAmericaTrial';
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.75;
    letter-spacing: normal;
    color: #000;
    transition: color 0.25s ease-in-out 0s;
    &:hover {
      color: #7b7b7b;
    }
  }
}
</style>
