<template>
  <b-container 
    fluid>
    <b-row class="header-wrapper">
      <b-container class="header">
        <b-row align-v="center">
          <b-col 
            cols="6"
            md="2" 
            class="logo mr-auto">
            <nuxt-link to="/">
              <img 
                src="~assets/logotype-final.png"
                srcset="~assets/logotype-final@2x.png 2x,
                  ~assets/logotype-final@3x.png 3x" 
                alt="logo">
            </nuxt-link>
          </b-col>
          <b-col 
            md="6"
            class="nav">
            <ul class="nav-list">
              <li><nuxt-link to="/work">Work</nuxt-link></li>
              <li><nuxt-link to="/services">Services</nuxt-link></li>
              <!-- <li><nuxt-link to="/about">About us</nuxt-link></li> -->
              <li><nuxt-link to="/careers">Careers</nuxt-link></li>
              <li><nuxt-link to="/contacts">Contacts</nuxt-link></li>
            </ul>
          </b-col>
          <b-col 
            md="2"
            class="hello">
            <nuxt-link
              to="/hello"
              class="link_with-arrow">Say hello</nuxt-link>
          </b-col>
        </b-row>
      </b-container>
    </b-row>
  </b-container>
</template>

<script>
export default {
  name: 'Header'
}
</script>

<style lang="scss" scoped>
.header-wrapper {
  background-color: #f7f8fa;
}
.header {
  padding-top: 57px;
  padding-bottom: 57px;
  .hello {
    justify-content: flex-end;
    display: flex;
    a {
      background: none;
      border: none;
      outline: none;
      text-decoration: none;
      font-family: 'GTAmericaTrial';
      font-size: 14px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.14;
      letter-spacing: normal;
      color: #000000;
      cursor: pointer;
      &:after {
        background-size: 20px 13px;
        width: 20px;
        height: 13px;
        margin-left: 10px;
      }
    }
  }
}
.nav-list {
  padding: 0;
  margin: 0;
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: space-between;
  li {
    a {
      font-family: 'GTAmericaTrial';
      font-size: 15px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.07;
      letter-spacing: 0.2px;
      color: #000000;
      text-decoration: none;
      transition: color 0.3s ease-in-out 0s;
      &:hover {
        color: #7b7b7b;
      }
    }
  }
}
.logo {
  a {
    display: block;
    img {
      width: 100%;
    }
  }
}
@media screen and (max-width: 768px) {
  .header {
    .nav {
      display: none;
    }
    .hello {
      display: none;
    }
  }
}
</style>
