<template>
  <b-container fluid>
    <b-row class="hello-form">
      <b-container>
        <b-row>
          <b-col
            cols="12">
            <h3 class="subtitle">Interested in:</h3>
            <b-form-group>
              <b-form-radio-group
                id="btnradios1"
                v-model="formData.interestedIn"
                :options="formOptions.interestedInOptions"
                class="radios"
                buttons
                button-variant="link"
                name="interested" />
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col
            cols="12">
            <h3 class="subtitle">Project type is:</h3>
            <b-form-group>
              <b-form-radio-group
                id="btnradios2"
                v-model="formData.projectType"
                :options="formOptions.projectTypeOptions"
                class="radios"
                buttons
                button-variant="link"
                name="project-type" />
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col
            cols="12"
            md="5">
            <h3 class="subtitle">Your name</h3>
            <b-form-input 
              v-model="formData.userName"
              type="text"
              placeholder="Name"/>
          </b-col>
        </b-row>
        <b-row>
          <b-col
            cols="12"
            md="5">
            <h3 class="subtitle">Your email</h3>
            <b-form-input 
              v-model="formData.userEmail"
              type="email"
              placeholder="Email"/>
          </b-col>
        </b-row>
        <b-row>
          <b-col
            cols="12"
            md="5">
            <h3 class="subtitle">Tell more about project please</h3>
            <b-form-textarea 
              id="textarea1"
              v-model="formData.comments"
              :rows="1"
              :max-rows="6"
              placeholder="Your enquiry"/>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="12">
            <button
              type="submit"
              class="submit link_with-arrow">Submit</button>
          </b-col>
        </b-row>
        <!--<form
          name="contact"
          method="POST"
          data-netlify="true">
          <input
            v-model="formData.userName"
            type="text"
            name="name">
          <input
            v-model="formData.userEmail"
            type="email"
            name="email">
          <input
            v-model="formData.interestedIn"
            type="text"
            name="interested-in">
          <input
            v-model="formData.projectType"
            type="text"
            name="project-type">
          <textarea
            v-model="formData.comments"
            name="comments"/>
          <button
            type="submit"
            class="submit link_with-arrow">Submit</button>
        </form>-->
      </b-container>
    </b-row>
  </b-container>
</template>

<script>
export default {
  data() {
    return {
      formData: {
        interestedIn: '',
        projectType: '',
        userEmail: '',
        userName: '',
        comments: ''
      },
      formOptions: {
        interestedInOptions: [
          { text: 'Design', value: 'Design' },
          { text: 'Development', value: 'Development' },
          { text: 'Product strategy', value: 'Product strategy' },
          { text: 'Multiple services', value: 'Multiple services' }
        ],
        projectTypeOptions: [
          { text: 'Mobile app', value: 'Mobile app' },
          { text: 'Web project', value: 'Web project' },
          { text: 'Multiple types', value: 'Multiple types' }
        ]
      }
    }
  },
  methods: {
    sendMail() {
      this.$axios({
        method: 'post',
        url: '/api/contactdb/recipients',
        headers: {
          Authorization:
            'Bearer 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'
        },
        data: [
          {
            user_name: this.formData.userName,
            email: this.formData.userEmail,
            interested_in: this.formData.interestedIn,
            project_type: this.formData.projectType,
            comments: this.formData.comments
          }
        ]
      })
      // this.$axios.$post('/api/v3/contactdb/recipients', {
      //   headers: {
      //     Authorization:
      //       'Bearer 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'
      //   },
      //   data: [
      //     {
      //       email: 'test@test.com',
      //       last_name: 'Some name'
      //     }
      //   ]
      // })
    }
  }
}
</script>

<style lang="scss" scoped>
.subtitle {
  font-family: 'GTAmericaTrial';
  font-size: 22px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.82;
  letter-spacing: normal;
  color: #000;
  margin-bottom: 20px;
}
.hello-form {
  margin-bottom: 220px;
  .form-control {
    font-family: 'GTAmericaTrial';
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.56;
    letter-spacing: 0.3px;
    color: #909090;
    padding: 0 0 9px;
    outline: none;
    box-shadow: none;
    border: none;
    border-bottom: 3px solid rgba(#a9a9a9, 0.47);
    border-radius: 0;
    margin-bottom: 50px;
  }
  .form-group {
    &::v-deep .radios {
      margin-bottom: 50px;
      .btn {
        padding: 0;
        margin: 0 15px 0 0;
        font-family: 'GTAmericaTrial';
        font-size: 16px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.75;
        letter-spacing: 0.2px;
        color: #b3bbbc;
        text-decoration: none;
        cursor: pointer;
        &.active {
          color: #000;
        }
      }
    }
  }
}
.submit {
  font-family: 'GTAmericaTrial';
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.56;
  letter-spacing: 0.2px;
  color: #000;
  text-decoration: none;
  border: none;
  background: transparent;
  outline: none;
  cursor: pointer;
  &:after {
    background-size: 28px 18px;
    width: 28px;
    height: 18px;
    margin-left: 10px;
  }
}
</style>
