<template>
  <b-container fluid>
    <b-row class="first-screen">
      <b-container>
        <b-row>
          <b-col 
            cols="12"
            md="7"
            class="left mr-auto">
            <header>
              <h1>Research. Design. Development. Growth.</h1>
              <div class="text">
                <p>Archetype is a digital product design agency specialize in business strategy, design &amp; development.</p>
              </div>
            </header>
            <footer>
              <span 
                class="latest-work">Latest work</span>
              <a 
                class="this-case link_with-arrow"
                href="https://www.behance.net/gallery/71948575/Orthomol-cases"
                target="_blank">Orthomol</a>
            </footer>
          </b-col>
          <b-col 
            cols="12"
            md="4" 
            class="right">
            <a 
              href="https://www.behance.net/gallery/71948575/Orthomol-cases"
              target="_blank"
              class="visual">
              <img 
                src="~assets/group-5.jpg"
                srcset="~assets/group-5@2x.jpg 2x,
                ~assets/group-5@3x.jpg 3x"
                alt="img">
            </a>
          </b-col>
        </b-row>
      </b-container>
    </b-row>
  </b-container>
</template>

<script>
export default {
  name: 'MainFirstScreen'
}
</script>

<style lang="scss" scoped>
.first-screen {
  background-color: #f7f8fa;
  padding-top: 54px;
  padding-bottom: 86px;
  margin-bottom: 105px;
  .left {
    header {
      padding-top: 100px;
      h1 {
        font-family: 'GTAmericaTrial';
        font-size: 43px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.12;
        letter-spacing: normal;
        color: #000;
        margin-bottom: 40px;
      }
      .text {
        font-family: 'GTAmericaTrial';
        font-size: 18px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.56;
        letter-spacing: 0.2px;
        color: #000;
        p {
          margin-bottom: 119px;
        }
      }
    }
    footer {
      display: flex;
      flex-direction: column;
      .latest-work {
        font-family: 'GTAmericaTrial';
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.14;
        letter-spacing: 0.3px;
        color: #7b7b7b;
        margin-bottom: 13px;
      }
      a {
        text-decoration: none;
        &.this-case {
          font-family: 'GTAmericaTrial';
          font-size: 18px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: 0.89;
          letter-spacing: normal;
          color: #000;
          &:after {
            background-size: 20px 13px;
            width: 20px;
            height: 13px;
            margin-left: 10px;
          }
        }
      }
    }
  }
  .right {
    .visual {
      overflow: hidden;
      cursor: pointer;
      display: block;
      transition: transform 0.3s ease-in-out 0s;
      img {
        transition: transform 0.3s ease-in-out 0s;
      }
      &:hover {
        transform: scale(0.97);
        img {
          transform: scale(1.1);
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .first-screen {
    .left {
      margin-bottom: 20px;
    }
  }
}
</style>
