<template>
  <b-container fluid>
    <b-container class="new-articles">
      <b-row>
        <b-col cols="12">
          <header>
            <h3>New articles</h3>
          </header>
        </b-col>
        <b-col cols="12">
          <b-row class="items">
            <b-col 
              cols="12"
              sm="6"
              md="3" 
              class="item">
              <div class="visual">
                <img 
                  src="#" 
                  alt="img">
              </div>
              <div class="text">Vue.js development - your good friend</div>
            </b-col>
            <b-col 
              cols="12"
              sm="6"
              md="3" 
              class="item">
              <div class="visual">
                <img 
                  src="#" 
                  alt="img">
              </div>
              <div class="text">Fintech applications. 2019</div>
            </b-col>
            <b-col 
              cols="12"
              sm="6"
              md="3" 
              class="item">
              <div class="visual">
                <img 
                  src="#" 
                  alt="img">
              </div>
              <div class="text">React Native: How to use easily</div>
            </b-col>
            <b-col 
              cols="12"
              sm="6"
              md="3" 
              class="item">
              <div class="visual">
                <img 
                  src="#" 
                  alt="img">
              </div>
              <div class="text">Design strategy and future</div>
            </b-col>
          </b-row>
        </b-col>
      </b-row>
    </b-container>
  </b-container>
</template>

<script>
export default {
  name: 'NewArticles'
}
</script>

<style lang="scss" scoped>
.new-articles {
  margin-bottom: 140px;
  header {
    h3 {
      font-family: 'GTAmericaTrial';
      font-size: 43px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.12;
      letter-spacing: normal;
      color: #000;
      margin-bottom: 48px;
    }
  }
  .items {
    .item {
      .visual {
        width: 100%;
        min-height: 150px;
        background-color: #f7f8fa;
        margin-bottom: 19px;
      }
      .text {
        font-family: 'GTAmericaTrial';
        font-size: 18px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.56;
        letter-spacing: normal;
        color: #000;
      }
    }
  }
}
</style>
