<template>
  <b-container fluid>
    <b-container class="positions">
      <b-row>
        <b-col cols="12">
          <header>
            <h3>Open positions</h3>
          </header>
        </b-col>
        <b-col cols="12">
          <b-row class="lists">
            <b-col 
              cols="12"
              md="3"
              class="list">
              <div class="title">
                <a href="#">San Francisco</a>
              </div>
              <ul>
                <li><a href="#">Senior Strategist</a></li>
                <li>
                  <a
                    href="https://angel.co/archetype-agency/jobs/447425-senior-designer-freelance"
                    target="_blank">Senior Designer (Freelance)</a>
                </li>
              </ul>
            </b-col>
            <b-col 
              cols="12"
              md="3"
              class="list">
              <div class="title">
                <a 
                  href="#">Kyiv</a>
              </div>
              <ul>
                <li><a href="#">React Native Engineer</a></li>
                <li>
                  <a
                    href="https://angel.co/archetype-agency/jobs/447430-front-end-engineer"
                    target="_blank">Front-end Engineer</a>
                </li>
                <li><a href="#">Product designer</a></li>
              </ul>
            </b-col>
            <b-col 
              cols="12"
              md="3"
              class="list">
              <div class="title">
                <a
                  href="#">New-York</a>
              </div>
              <ul>
                <li><a href="#">Business Development Executive</a></li>
              </ul>
            </b-col>
          </b-row>
        </b-col>
      </b-row>
    </b-container>
  </b-container>
</template>

<script>
export default {
  name: 'OpenPosition'
}
</script>

<style lang="scss" scoped>
.positions {
  margin-bottom: 125px;
  header {
    h3 {
      font-family: 'GTAmericaTrial';
      font-size: 43px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.12;
      letter-spacing: normal;
      color: #000;
      margin-bottom: 75px;
    }
  }
  .lists {
    .list {
      .title {
        a {
          font-family: 'GTAmericaTrial';
          font-size: 22px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.82;
          letter-spacing: normal;
          color: #000;
          margin-bottom: 10px;
          text-decoration: none;
          transition: color 0.25s ease-in-out 0s;
          &:hover {
            color: #7b7b7b;
          }
        }
      }
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        a {
          font-family: 'GTAmericaTrial';
          font-size: 18px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.56;
          letter-spacing: normal;
          text-decoration: none;
          color: #000;
          transition: color 0.25s ease-in-out 0s;
          &:hover {
            color: #7b7b7b;
          }
        }
      }
    }
  }
}
</style>
