<template>
  <b-container fluid>
    <b-row class="our-proccess">
      <b-container>
        <b-row>
          <b-col>
            <header>
              <h3 class="title">Our proccess</h3>
            </header>
          </b-col>
        </b-row>
        <b-row class="item">
          <b-col 
            cols="1"
            md="1">
            <div class="number number_grey">1</div>
          </b-col>
          <b-col 
            cols="11"
            md="5">
            <div class="procces">
              <header>
                <h4 class="item-title">Project Kickoff</h4>
              </header>
              <div class="text">A successful project kickoff means we get to the bottom of all the context, needs and user expectations, and we’re ready to start design and development.</div>
            </div>
          </b-col>
        </b-row>
        <b-row class="item">
          <b-col 
            cols="1"
            md="1">
            <div class="number number_grey">2</div>
          </b-col>
          <b-col 
            cols="11"
            md="5">
            <div class="procces">
              <header>
                <h4 class="item-title">Product Strategy</h4>
              </header>
              <div class="text">Markets, audience, advantages... Let us explore and we’ll provide you with an action plan.</div>
            </div>
          </b-col>
        </b-row>
        <b-row class="item">
          <b-col 
            cols="1"
            md="1">
            <div class="number number_grey">3</div>
          </b-col>
          <b-col 
            cols="11"
            md="5">
            <div class="procces">
              <header>
                <h4 class="item-title">Prototype &amp; Test</h4>
              </header>
              <div class="text">Markets, audience, advantages... Let us explore and we’ll provide you with an action plan.</div>
            </div>
          </b-col>
        </b-row>
        <b-row class="item">
          <b-col 
            cols="1"
            md="1">
            <div class="number number_grey">4</div>
          </b-col>
          <b-col 
            cols="11"
            md="5">
            <div class="procces">
              <header>
                <h4 class="item-title">UI design</h4>
              </header>
              <div class="text">Markets, audience, advantages... Let us explore and we’ll provide you with an action plan.</div>
            </div>
          </b-col>
        </b-row>
        <b-row class="item">
          <b-col 
            cols="1"
            md="1">
            <div class="number">5</div>
          </b-col>
          <b-col 
            cols="11"
            md="5">
            <div class="procces">
              <header>
                <h4 class="item-title">Development</h4>
              </header>
              <div class="text">Markets, audience, advantages... Let us explore and we’ll provide you with an action plan.</div>
            </div>
          </b-col>
        </b-row>
      </b-container>
    </b-row>
  </b-container>
</template>

<script>
export default {
  name: 'OurProccess'
}
</script>

<style lang="scss" scoped>
.our-proccess {
  margin-bottom: 50px;
  header {
    .title {
      font-family: 'GTAmericaTrial';
      font-size: 43px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.12;
      letter-spacing: normal;
      color: #000;
      margin-bottom: 85px;
    }
  }
  .item {
    margin-bottom: 80px;
    .number {
      font-family: 'GTAmericaTrial';
      font-size: 43px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.12;
      letter-spacing: normal;
      color: #000;
    }
    .number_grey {
      color: rgba(#000, 0.2);
    }
    .procces {
      .item-title {
        font-family: 'GTAmericaTrial';
        font-size: 22px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.82;
        letter-spacing: normal;
        color: #000;
        margin-bottom: 10px;
      }
      .text {
        font-family: 'GTAmericaTrial';
        font-size: 18px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.56;
        letter-spacing: normal;
        color: #000;
      }
    }
  }
}
</style>
