<template>
  <b-container fluid>
    <b-row class="say-hello">
      <b-container class="say-hello">
        <b-row>
          <b-col cols="12">
            <header><nuxt-link to="/hello">Say hello</nuxt-link></header>
            <h4 class="subtitle">Feel free to contact us with any questions.</h4>
            <!-- <footer><a href="mailto:hello@archetype.agency">hello@archetype.agency</a></footer> -->
          </b-col>
        </b-row>
      </b-container>
    </b-row>
  </b-container>
</template>

<script>
export default {
  name: 'SayHello'
}
</script>

<style lang="scss" scoped>
.say-hello {
  background-color: #f7f7fa;
  padding-top: 90px;
  padding-bottom: 110px;
  header {
    a {
      font-family: 'GTAmericaTrial';
      font-size: 43px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.12;
      letter-spacing: normal;
      color: #000;
      margin-bottom: 24px;
      display: inline-block;
      text-decoration: none;
      transition: color 0.25s ease-in-out 0s;
      &:hover {
        color: #7b7b7b;
      }
    }
  }
  h4 {
    font-family: 'GTAmericaTrial';
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.56;
    letter-spacing: 0.2px;
    color: #000;
    margin-bottom: 43px;
  }
  footer {
    a {
      font-family: 'GTAmericaTrial';
      font-size: 18px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.56;
      letter-spacing: 0.2px;
      color: #000;
      transition: color 0.25s ease-in-out 0s;
      text-decoration: none;
      &:hover {
        color: #7b7b7b;
      }
    }
  }
}
</style>
