<template>
  <b-container fluid>
    <div class="services">
      <b-container>
        <b-row>
          <b-col 
            cols="12"
            md="6"
            class="d-flex">
            <div class="service">
              <header class="header">
                <h3 class="title">Strategy</h3>
                <h4 class="subtitle">Markets, audience, advantages... Let us explore and we’ll provide you with an action plan.</h4>
              </header>
              <ul class="list">
                <li class="list-item">Market research</li>
                <li class="list-item">SWOT</li>
                <li class="list-item">Insight</li>
                <li class="list-item">Positioning</li>
              </ul>
            </div>
          </b-col>
          <b-col 
            cols="12"
            md="6"
            class="d-flex">
            <div class="service">
              <header class="header">
                <h3 class="title">User Experience Design</h3>
                <h4 class="subtitle">Your users should have no problems with experience, we get it. More to it, we get it done.</h4>
              </header>
              <ul class="list">
                <li class="list-item">Analysis of the target audience</li>
                <li class="list-item">Empathy Map</li>
                <li class="list-item">Customer journey map</li>
                <li class="list-item">Interactive prototype</li>
              </ul>
            </div>
          </b-col>
          <b-col 
            cols="12"
            md="6"
            class="d-flex">
            <div class="service">
              <header class="header">
                <h3 class="title">UI and Identity</h3>
                <h4 class="subtitle">Interfaces should be engaging and beautiful. Sure thing, we are perfectionists.</h4>
              </header>
              <ul class="list">
                <li class="list-item">Illustrations</li>
                <li class="list-item">Icons</li>
                <li class="list-item">Brand indetity</li>
                <li class="list-item">Infographics</li>
              </ul>
            </div>
          </b-col>
          <b-col 
            cols="12"
            md="6"
            class="d-flex">
            <div class="service">
              <header class="header">
                <h3 class="title">Frontend Development</h3>
                <h4 class="subtitle">Designs should not be passed around, but turned into outstanding products. Right here, right now.</h4>
              </header>
              <ul class="list">
                <li class="list-item">React</li>
                <li class="list-item">Vue</li>
                <li class="list-item">Angular</li>
              </ul>
            </div>
          </b-col>
          <b-col 
            cols="12"
            md="6"
            class="d-flex">
            <div class="service">
              <header class="header">
                <h3 class="title">Back-end development</h3>
                <h4 class="subtitle">Markets, audience, advantages... Let us explore and we’ll provide you with an action plan.</h4>
              </header>
              <ul class="list">
                <li class="list-item">Node.js</li>
                <li class="list-item">Elixir</li>
                <li class="list-item">Java</li>
                <li class="list-item">Python</li>
                <li class="list-item">Yii2</li>
              </ul>
            </div>
          </b-col>
          <b-col 
            cols="12"
            md="6"
            class="d-flex">
            <div class="service">
              <header class="header">
                <h3 class="title">Mobile development</h3>
                <h4 class="subtitle">Your users should have no problems with experience, we get it. More to it, we get it done.</h4>
              </header>
              <ul class="list">
                <li class="list-item">React Native</li>
                <li class="list-item">iOS</li>
                <li class="list-item">Android</li>                
              </ul>
            </div>
          </b-col>
        </b-row>
      </b-container>
    </div>
  </b-container>
</template>

<script>
export default {
  name: 'Services'
}
</script>

<style lang="scss" scoped>
.services {
  margin-bottom: 90px;
}
.service {
  // border: solid 1px #dfdfdf;
  padding: 30px 0 45px;
  margin-bottom: 30px;
  header {
    .title {
      font-family: 'GTAmericaTrial';
      font-size: 22px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.82;
      letter-spacing: normal;
      color: #000;
      margin-bottom: 10px;
    }
    .subtitle {
      font-family: 'GTAmericaTrial';
      font-size: 18px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.56;
      letter-spacing: normal;
      color: #000;
      margin-bottom: 15px;
    }
  }
  .list {
    list-style: none;
    margin: 0;
    padding: 0;
    .list-item {
      font-family: 'GTAmericaTrial';
      font-size: 15px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.73;
      letter-spacing: 0.3px;
      color: #7b7b7b;
    }
  }
}
</style>
