<template>
  <b-container fluid>
    <b-row class="special-services">
      <b-container>
        <b-row>
          <b-col cols="12">
            <header>
              <h3>Special services</h3>
            </header>
          </b-col>
        </b-row>
        <b-row>
          <b-col 
            cols="12"
            md="6"
            class="d-flex">
            <div class="item">
              <h4 class="title title_yellow">Design workshops</h4>
              <div class="text">Markets, audience, advantages... Let us explore and we’ll provide you with an action plan.</div>
              <a 
                href="#"
                class="hello">Say hello</a>
            </div>
          </b-col>
          <b-col 
            cols="12"
            md="6"
            class="d-flex">
            <div class="item">
              <h4 class="title title_green">Improvements</h4>
              <div class="text">We offer an overview of the status of your website considering both the technical point of view and the user experience</div>
              <a 
                href="#"
                class="hello">Say hello</a>
            </div>
          </b-col>
        </b-row>
      </b-container>
    </b-row>
  </b-container>
</template>

<script>
export default {
  name: 'SpecialService'
}
</script>

<style lang="scss" scoped>
.special-services {
  background-color: #f7f8fa;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-bottom: 100px;
  header {
    h3 {
      font-family: 'GTAmericaTrial';
      font-size: 43px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.12;
      letter-spacing: normal;
      color: #000;
      margin-bottom: 70px;
    }
  }
  .item {
    background-color: #fff;
    padding: 40px 30px 60px;
    transition: transform 0.3s ease-in-out 0s;
    &:hover {
      transform: scale(0.97);
    }
    .title {
      font-family: 'GTAmericaTrial';
      font-size: 22px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.82;
      letter-spacing: normal;
      margin-bottom: 1px;
      &_yellow {
        color: #fed211;
      }
      &_green {
        color: #0acb4f;
      }
    }
    .text {
      font-family: 'GTAmericaTrial';
      font-size: 18px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.56;
      letter-spacing: normal;
      color: #000;
      margin-bottom: 30px;
    }
    .hello {
      font-family: 'GTAmericaTrial';
      font-size: 14px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.14;
      letter-spacing: normal;
      color: #000;
      text-decoration: none;
    }
  }
}
</style>
