<template>
  <b-container fluid>
    <b-row class="trust">
      <b-container>
        <b-row>
          <b-col
            cols="12"
            md="8"
            class="d-flex flex-column justify-content-center">
            <h3 class="title">A partner you can trust. Focused on key markets</h3>
            <h4 class="subtitle">Fintech, eCommerce, VR, Blockchain, FoodTech, EduTech.</h4>
          </b-col>
          <b-col
            cols="12"
            md="4">
            <a
              href="https://clutch.co/profile/archetype"
              target="_blank" 
              class="block d-flex align-items-center justify-content-between">
              <div class="block_logo">
                <img
                  src="~assets/img/home/bitmap.png"
                  srcset="i~assets/mg/bhome/itmap@2x.png 2x, ~assets/img/home/bitmap@3x.png 3x">
              </div>
              <div class="block_rate d-flex flex-column justify-content-center align-items-center">
                <div class="visual">
                  <img 
                    src="~assets/img/home/group-2.svg">
                </div>
                <div class="text">Top UX Design Agency. </div>
              </div>
            </a>
          </b-col>
        </b-row>
      </b-container>
    </b-row>
  </b-container>
</template>

<script>
export default {
  name: 'Trust'
}
</script>

<style lang="scss" scoped>
.trust {
  margin-bottom: 100px;
  .title {
    font-family: 'GTAmericaTrial';
    font-size: 22px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.82;
    letter-spacing: normal;
    color: #000;
  }
  .subtitle {
    font-family: 'GTAmericaTrial';
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.22;
    letter-spacing: normal;
    color: #000;
  }
  .block {
    text-decoration: none;
  }
  .block_rate {
    .visual {
      margin-bottom: 5px;
    }
    .text {
      font-family: 'GTAmericaTrial';
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.79;
      letter-spacing: 0.2px;
      color: #545454;
    }
  }
}
</style>
