@font-face {
  font-family: 'GTAmericaTrial';
  src: url('~assets/fonts/GTAmericaTrial-Regular.eot');
  src: url('~assets/fonts/GTAmericaTrial-Regular.woff2') format('woff2'),
       url('~assets/fonts/GTAmericaTrial-Regular.woff') format('woff'),
       url('~assets/fonts/GTAmericaTrial-Regular.ttf') format('truetype'),
       url('~assets/fonts/GTAmericaTrial-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GTAmericaTrial';
  src: url('~assets/fonts/GTAmericaTrial-ExtendedBlack.eot');
  src: url('~assets/fonts/GTAmericaTrial-ExtendedBlack.woff2') format('woff2'),
       url('~assets/fonts/GTAmericaTrial-ExtendedBlack.woff') format('woff'),
       url('~assets/fonts/GTAmericaTrial-ExtendedBlack.ttf') format('truetype'),
       url('~assets/fonts/GTAmericaTrial-ExtendedBlack.eot?#iefix') format('embedded-opentype');
  font-weight: bold;
  font-style: normal;
}