<template>
  <div>
    <Header/>
    <b-container fluid>
      <b-row class="first-screen">
        <b-container>
          <b-row>
            <b-col 
              cols="12"
              md="12">
              <h1 class="title">Work</h1>
              <h2 class="subtitle">Latest projects from us, for you. Enjoy.</h2>
            </b-col>
          </b-row>
        </b-container>
      </b-row>
    </b-container>
    <Cases/>
    <say-hello/>
    <Footer/>
  </div>
</template>

<script>
import Header from '~/components/Header.vue'
import Cases from '~/components/Cases.vue'
import Expertise from '~/components/Expertise.vue'
import SayHello from '~/components/SayHello.vue'
import Footer from '~/components/Footer.vue'

export default {
  components: {
    Header,
    Cases,
    Expertise,
    SayHello,
    Footer
  }
}
</script>

<style lang="scss" scoped>
.first-screen {
  padding-top: 100px;
  padding-bottom: 100px;
  margin-bottom: 88px;
  background-color: #f7f8fa;
}
.title {
  font-family: 'GTAmericaTrial';
  font-size: 43px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.12;
  letter-spacing: normal;
  color: #000;
  margin-bottom: 21px;
}
.subtitle {
  font-family: 'GTAmericaTrial';
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.56;
  letter-spacing: 0.2px;
  color: #000;
  margin-bottom: 8px;
}
</style>
