<template>
  <div class="wrapper d-flex flex-column justify-content-between">
    <Header/>
    <div class="container error-component">
      <div v-if="error.statusCode === 404">
        <h1>404</h1>
        <h2>We apologize</h2>
      </div>
      <div v-else>
        <h1>An error occured</h1>
      </div>
      <nuxt-link
        to="/"
        class="link-to-home">Go to homepage</nuxt-link>
    </div>
    <Footer/>
  </div>
</template>

<script>
import Header from '~/components/Header.vue'
import Footer from '~/components/Footer.vue'

export default {
  components: {
    Header,
    Footer
  },
  props: {
    error: {
      type: Object,
      default: null
    }
  }
}
</script>

<style lang="scss" scoped>
.wrapper {
  min-height: 100vh;
}
.error-component {
  padding-top: 20px;
  padding-bottom: 20px;
  h1 {
    font-family: 'GTAmericaTrial';
    font-size: 43px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.12;
    letter-spacing: normal;
    margin-bottom: 12px;
    color: #000;
  }
  h2 {
    font-family: 'GTAmericaTrial';
    font-size: 22px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.18;
    letter-spacing: normal;
    color: #000;
    margin-bottom: 20px;
  }
}
.link-to-home {
  font-family: 'GTAmericaTrial';
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.56;
  letter-spacing: normal;
  color: #000;
  text-decoration: none;
}
</style>
