<template>
  <div>
    <Header/>
    <MainFirstScreen/>
    <trust/>
    <Cases/>
    <clutch/>
    <OpenPositions/>
    <SayHello/>
    <Footer/>
  </div>
</template>

<script>
import Header from '~/components/Header.vue'
import MainFirstScreen from '~/components/MainFirstScreen.vue'
import Trust from '~/components/Trust.vue'
import Cases from '~/components/Cases.vue'
import Clutch from '~/components/Clutch.vue'
import Expertise from '~/components/Expertise.vue'
import OpenPositions from '~/components/OpenPositions.vue'
import SayHello from '~/components/SayHello.vue'
import Footer from '~/components/Footer.vue'

export default {
  components: {
    Header,
    MainFirstScreen,
    Trust,
    Cases,
    Clutch,
    Expertise,
    OpenPositions,
    SayHello,
    Footer
  },
  head: {
    script: [{ src: 'https://static1.clutch.co/api/widget.js' }]
  }
}
</script>

<style>
img {
  width: 100%;
}
</style>


<style lang="scss">
</style>
